.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-Hermes{
  flex: 1;
  width: 40%;
  height: 40%;
}

.App-Font{
  font: 'Lucida Console'
}
/*
.App-backGroud {
  background-color: rgb(107, 146, 201);
}*/